@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body,
html {
  height: 100%;
}

body {
  margin: 0;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #161616;
  text-align: center;
}

hr {
  border: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header__container {
  padding: 40px;
  max-width: 730px;
}

.header__title {
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 66px;
  margin: 20px 0;
}

.avoid_wrap { 
  display: inline-block; 
}

.header__title_line {
  width: 161px;
  border-bottom: 1px solid #ffffff;
  margin: 50px auto;
}

.header__descriptions_text {
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 30px auto;
}

.bottom-mail {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 23px;
}

.bottom-mail:hover {
  transition: ease 1s;
  font-size: 21px;
  color: #c9c9c9;
}

@media screen and (max-width: 420px) {
  body,
  html {
    height: auto;
  }
}