@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

@media screen and (max-width: 480px) {
  .header__title {
    max-width: 443px;
    height: 98px;
    font-size: 48px;
    line-height: 53px;
  }

  .header__descriptions_text {
    width: 390px;
    height: 150px;
    font-size: 19px;
    line-height: 27px;
    margin-top: 45px;
  }

  .header__descriptions_out-text {
    width: 171px;
    margin-top: 19px;
    padding: 0;
    font-size: 19px;
  }

  .out__text_line {
    margin-top: 52px;
  }

  .bottom-mail {
    width: 192px;
    height: 17.5px;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 169px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 100%;
  }

  .header__container {
    width: 100%;
    margin: 0 auto;
  }

  .header__title {
    max-width: 343px;
    font-size: 30px;
    line-height: 36px;
  }

  .header__title_line {
    margin-top: 45px;
    margin-bottom: 0;
  }

  .header__descriptions_text {
    width: 304px;
    height: 124px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 43px;
  }

  .header__descriptions_out-text {
    width: 132px;
    margin-top: 29px;
    padding: 0;
  }

  .out__text_line {
    margin-top: 45px;
  }

  .bottom-mail {
    width: 175px;
    height: 17px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 109px;
  }
}
